body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
strong{
  color:blue
}
#msg{
  margin-top: 1em;
}
#qrcode {
  width:160px;
  height:160px;
  margin-top:15px;
}


@media print {
  button, #msg {
display: none;
  }
  img{
    width: 100vw;
  }
}